Lead Gen & AI-Qualified Email Outreach Pipeline/Lead Gen Pipeline - Error Handler.json
{
  "name": "Lead Gen Pipeline - Error Handler",
  "nodes": [
    {
      "parameters": {},
      "id": "error_trigger_1",
      "name": "On Workflow Error",
      "position": [
        -208,
        304
      ],
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "notes": "Fires whenever the main Lead Gen pipeline throws an unhandled error (e.g. a node crashes and execution stops entirely). Set as the 'Error Workflow' in the main workflow's settings."
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $json;\nconst errorNode = d.execution && d.execution.error && d.execution.error.node ? d.execution.error.node.name : 'Unknown node';\nconst errorMessage = d.execution && d.execution.error ? d.execution.error.message : 'Unknown error';\nconst executionUrl = d.execution ? d.execution.url : '';\nconst workflowName = d.workflow ? d.workflow.name : 'Lead Gen Pipeline';\n\nreturn {\n  json: {\n    'Business Name': 'N/A - workflow-level failure (see Reason)',\n    'Category': '',\n    'Rating': '',\n    'Review Count': '',\n    'Phone': '',\n    'Address': '',\n    'Website': '',\n    'Fit Score': '',\n    'Reason': 'Workflow crash in \"' + workflowName + '\" at node \"' + errorNode + '\": ' + errorMessage + (executionUrl ? ' | ' + executionUrl : '')\n  }\n};"
      },
      "id": "code_format_error_log",
      "name": "Format Error Log Row",
      "position": [
        48,
        304
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "notes": "Error Trigger payloads carry execution/workflow/node-level detail, not the specific business record being processed at the moment of failure - that per-item context is handled separately inside the main workflow (e.g. the Gmail send-error branch). This captures the execution-level failure: which node broke, why, and a link to the failed execution."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1l5mNUiM0jVg9FOj05b_MJMPhZpYde7uRHh42lHVWXhs",
          "mode": "list",
          "cachedResultName": "Lead Gen Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l5mNUiM0jVg9FOj05b_MJMPhZpYde7uRHh42lHVWXhs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Rejected",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l5mNUiM0jVg9FOj05b_MJMPhZpYde7uRHh42lHVWXhs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Business Name",
              "displayName": "Business Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Review Count",
              "displayName": "Review Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fit Score",
              "displayName": "Fit Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "sheets_append_error_log",
      "name": "Append - Error Log to Rejected",
      "position": [
        288,
        304
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Wx9Djyyc2HCbyFHA",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Logs the workflow-level failure into the same Rejected tab used by the main pipeline, so all failure signal lives in one place. Point this at your actual Lead Gen Pipeline spreadsheet."
    }
  ],
  "pinData": {},
  "connections": {
    "On Workflow Error": {
      "main": [
        [
          {
            "index": 0,
            "node": "Format Error Log Row",
            "type": "main"
          }
        ]
      ]
    },
    "Format Error Log Row": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append - Error Log to Rejected",
            "type": "main"
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "versionId": "5bf56f14-753e-4935-9b84-3a9b649ca1ab",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55139cc83e6441c0f061e19bfc630d4fae43353c52f8cc097997b199b6415da9"
  },
  "nodeGroups": [],
  "id": "TkF4yJ5rEJYtpb9x",
  "tags": []
}